bodyz {
    background: #D0D8DB;
    padding-top: 60px;
    padding-bottom: 40px;
}

textarea {
    resize: none;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    white-space: nowrap;
}

@charset "UTF-8";

.svg-inline--fa {
    vertical-align: -0.200em;
}

footer .rounded-social-buttons {
    text-align: center;
}

footer .rounded-social-buttons .social-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 3.125rem;
    height: 3.125rem;
    border: 0.125rem solid transparent;
    padding: 0;
    text-decoration: none;
    text-align: center;
    color: #fefefe;
    font-size: 1.5625rem;
    font-weight: normal;
    line-height: 2em;
    border-radius: 1.6875rem;
    transition: all 0.5s ease;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
}

/* Specific styles for each social button */
footer .rounded-social-buttons .social-button.facebook {
    background: #3b5998;
}

footer .rounded-social-buttons .social-button.twitter {
    background: #55acee;
}

footer .rounded-social-buttons .social-button.linkedin {
    background: #007bb5;
}

footer .rounded-social-buttons .social-button.tiktok {
    background: #25D366;
}

footer .rounded-social-buttons .social-button.youtube {
    background: #bb0000;
}

footer .rounded-social-buttons .social-button.instagram {
    background: #E1306C;
}

/* Hover and focus styles for social buttons */
footer .rounded-social-buttons .social-button:hover,
footer .rounded-social-buttons .social-button:focus {
    transform: rotate(360deg);
}

/* Specific hover and focus styles for each social button */
footer .rounded-social-buttons .social-button.facebook:hover,
footer .rounded-social-buttons .social-button.facebook:focus {
    color: #3b5998;
    background: #fefefe;
    border-color: #3b5998;
}

/* Repeat hover and focus styles for other social buttons */
