.wrapper * {
    margin: 0;
    padding: 0;
  }
  
  .wrapper {
    position: absolute;
    top: 65%;
    left: 3%;
    transform: translate(-50%, -50%);
  }
  
  .wrapper ul {
    list-style: none;
  }
  
  .wrapper ul li {
    width: 50px;
    height: 50px;
    position: relative;
    background: #e59500;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
  }
  
  .wrapper ul li .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #fff;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, .6);
  }
  
  .wrapper ul li.facebook {
    background: #3b5998;
  }
  
  .wrapper ul li.twitter {
    background: #00aced;
  }
  
  .wrapper ul li.instagram {
    background: #bc2a8d;
  }
  
  .wrapper ul li.codepen {
    background: #333333;
  }
  
  .wrapper ul li.whatsapp {
    background: #4dc247;
  }
  
  .wrapper ul li .slider {
    content: "";
    position: absolute;
    top: 0;
    left: 51px;
    width: 0px;
    height: 50px;
    background: #eebb5c;
    border-radius: 3px;
    transition: all 0.5s 0.3s ease;
  }
  
  .wrapper ul li .slider p {
    font-family: arial;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 900;
    color: #fff;
    text-align: center;
    line-height: 50px;
    opacity: 0;
    transition: all 0.6s ease;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, .6);
  }
  
  .wrapper ul li:hover .slider {
    width: 180px;
    transition: all 0.5s ease;
  }
  
  .wrapper ul li:hover .slider p {
    opacity: 1;
    transition: all 1s 0.2s ease;
  }
  
  /* youtube link */
  .wrapper .youtube {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 160px;
    text-align: center;
    padding: 15px 10px;
    background: #bb0000;
    border-radius: 5px;
  }
  
  .wrapper .youtube a {
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 1px;
}
  